# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/app/debug
android/app/release

# Firebase config files
google-services.json
android/app/google-services.json
ios/GoogleService-Info.plist

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.log
*.tmp
.DS_Store
Thumbs.db

# Build files
/build/
/android/app/build/
/ios/build/

app-example
